@using System.Security.Claims

@model AdventureBook.Models.ViewModels.UserProfileViewModel

@{
    ViewData["Index"] = "Index";
    ViewBag.NextPageAfterAction = "UserProfile";
}
<div class="container pt-5">
    <h1>@Model.Profile.Name</h1>
    <p>@Model.Profile.Email</p>
    <p>You&acute;ve posted @Model.Adventures.Count adventures!</p>

    <div class="container">
        
            @foreach (var item in Model.Adventures)
            {

                await Html.RenderPartialAsync("../Adventure/_CardPartial", item);
            }

        
    </div>
</div>