@using System.Security.Claims

@model AdventureBook.Models.ViewModels.UserProfileViewModel

@{
    ViewData["Index"] = "Index";
    ViewBag.NextControllerAfterAction = "UserProfile";
}
<div class="container pt-5">
    <div style="background-color: #edecec; padding: 1em; border-radius: 6%">
        <h1>@Model.Profile.Name</h1>
        <p>@Model.Profile.Email</p>
        <p>You&acute;ve posted @Model.Adventures.Count adventures!</p>
    </div>
    <div class="container">
        
            @foreach (var item in Model.Adventures)
            {

                await Html.RenderPartialAsync("../Adventure/_CardPartial", item);
            }

        
    </div>
</div>